@use "../../styles/partials/mixins" as *;

.posts {
  background: black;
  &__container {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem;
  }

  &__wrapper {
    padding: 1rem 0;
    margin: 2rem;

    & > h1 {
      width: fit-content;
      font-style: initial;
    }
  }

  &__title {
    margin: 0 2rem 2rem 2rem;
    text-align: center;
    color: white;

    @include tablet {
      font-size: 1.8rem;
    }
  }
}
