@use "../../styles/partials/mixins" as *;

.posts {
  align-self: flex-start;
  @include tablet {
    // width: 80%;
  }
  &__container {
    padding: 2rem 2rem 0;
    @include tablet {
      display: flex;
      gap: 2rem;
      justify-content: space-around;
      flex-wrap: wrap;
      // margin: 2rem;
    }

    @include desktop {
      max-width: 1600px;
      margin: 0 auto;
    }
  }

  &__wrapper {
    padding: 1rem 0;
    margin: 2rem;
    align-self: flex-start;

    & > h1 {
      width: fit-content;
      font-style: initial;
    }
  }

  &__title {
    letter-spacing: 0.3rem;
    color: #554803;

    margin: 0 2rem 0.5rem 2rem;
    border-top: 1px solid grey;
    border-top-style: dotted;
    padding-top: 0.8rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
