@use "../../../styles/partials/mixins" as *;

.settings {
  background-size: cover;
  display: flex;
  justify-content: center;

  @include tablet {
    height: 45vw;
  }
  &__container {
    width: 70%;
    padding: 1rem;
    border: 2px solid grey;
    background: white;
    border-radius: 5px;
    height: fit-content;
    margin-top: 2rem;
    @include tablet {
      width: 30rem;
    }
  }

  &__input {
    display: block;
  }

  &__file-input {
    width: 11.5rem;
    font-size: 14px;
  }

  &__label {
    font-size: 12px;
    display: block;
    margin-bottom: 0.3rem;
  }

  &__form {
    width: 100%;
    padding: 0.8rem 2rem;
    &:nth-of-type(1) {
      border-bottom: 1px solid grey;

      @include tablet {
        border-bottom: none;
      }
    }

    @include tablet {
      display: flex;
      align-items: flex-end;
    }
  }

  &__button {
    height: fit-content;
    margin: 1.5rem 0 0 auto;

    background-color: teal;
    padding: 6px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  &__image {
    width: 100%;
  }
}
