@use "../../styles/partials/mixins" as *;

.new-post {
  background: url("../../assets/images/pexels-karolina-grabowska-4046753.jpg");
  background-size: cover;
  &__image {
    width: 15rem;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding-top: 2rem;

    @include tablet {
      width: 30rem;
    }
  }
  &__form {
    width: fit-content;
    margin: 0 auto;
  }

  &__label {
    font-size: 12px;
  }

  &__file-input {
    display: block;
    width: 11.5rem;
    margin-top: 2rem;

    @include tablet {
      width: 11.5rem;
    }
  }

  &__input {
    display: block;
    width: 15rem;
    height: 2rem;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 5px;

    &:nth-of-type(2) {
      margin-top: 1rem;
    }
    &::placeholder {
      color: rgb(189, 185, 185);
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }

    &--content {
      padding-top: 1rem;
      height: 20rem;
    }

    @include tablet {
      width: 30rem;
    }
  }

  &__button {
    color: white;
    background-color: teal;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;

    @include tablet {
      padding: 10px;
      font-size: 16px;
    }
  }
  &__inner-container {
    padding: 2rem 0;
  }

  &__bottom-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
}
input::file-selector-button {
  font-weight: bold;
  color: white;
  background: teal;
  border: thin solid grey;
  border-radius: 3px;
}
