.nav {
  display: flex;

  padding: 0rem 1.5rem;
  border-bottom: 2px solid black;

  & h4:nth-last-child(1) {
    margin-left: 1.5rem;
    font-size: 0.8rem;
  }

  &__link {
    color: black;

    &--flex-end {
      margin-left: auto;
    }
  }
}
