@use "../../styles/partials/mixins" as *;

.footer {
  display: flex;
  border-top: 1px solid grey;
  align-items: center;

  padding: 1.2rem 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  &__img {
    display: inline-block;
    height: 1.5rem;
    margin-right: 1.5rem;
    background: black;
    border-radius: 50%;
  }
  & > a {
    display: block;
    color: black;
    margin-left: auto;
    font-size: 12px;

    @include tablet {
      font-size: 14px;
    }
  }

  & > p {
    font-size: 12px;
    @include tablet {
      font-size: 14px;
    }
  }
}
