.single-post {
  &__container {
    background: white;
    border-radius: 5px;
    width: 50rem;

    margin: 2rem auto;
  }
  &__inner-container {
    margin-left: 2rem;
    & > h3 {
      margin: 2rem 0;
    }

    & > p {
      padding-bottom: 2rem;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
